body{
    background: #233;
}

* {
    box-sizing: border-box;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top{
    flex: 0 40px;
    box-shadow: 0 -5px 0 -3px  #123 inset;
}

.bottom {
    flex: 1;
    display: flex;
}

.left{
    flex: 0 470px;
    float: left;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.right{
    flex: 1;
    float: left;
    height: calc(100vh - 40px);
    overflow-y: auto;
}