.Tips {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
    padding: 0 10px;
    background: rgba(255, 255, 255, .1);
}

.real-tip a {
    text-decoration: none;
    color: #FF7755;
}